body {
	font-family:"Open Sans", Verdana;
	
}

#wrapper {
	/* width: 980px; */
	
	margin: auto;
}


/****** меню ******/

header {
    height: 70px;
    text-align: center;
}

ul#menu {
	text-align: center;
	/* width: 90%; */
    margin-top: 30px;
	padding-left: 0;
	background-color: #FFBC31;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul li {
	display: inline-block;
	margin: 0 16px;
	padding: 0 5px;
	color: #fff;
	text-align: center;
	/* line-height: 30px; */
	
	vertical-align: middle;
	
	background-color: #3F88C5;
	border-top: 3px solid #3F88C5;
	border-left: 9px solid #4C96D3;
	border-right: 9px solid #4C96D3;
	border-bottom: 9px solid #266EA9;
	
	box-shadow:9px 6px #999;
	cursor: pointer;
}

ul li:hover{
	color: #fff;
	box-shadow:none;
}

.selected {
	background-color: #5E9913;
	border-top: 3px solid #5E9913;
	border-left: 9px solid #76B12A;
	border-right: 9px solid #76B12A;
	border-bottom: 9px solid #477E01;
}

ul#ulwhat li {
	text-align: left;
	margin: 0;
	/* width: 94%; */
	box-shadow: none;
	line-height: 1.1rem;
}

ul#ulwhat {
	/* background-color: #fff; */
	padding: 0;
	margin: 0;
	
}
 /****** текст на странице ******/
 
 
#page {
	/* text-align: center; */
	
}

.text {
	font-size: 12px;
	/* padding: 10px;
	margin: auto;
	text-align: center;
	border-radius: 5px; */
}

.cols {
	/* margin: auto; */
}

.col_left{
	/* float: left;
	width: 47%;
	padding-left: 15px; */
}

.col_right{
	/* float: left;
	width: 47%;
	padding-left: 30px; */
}

#p_tau {
	text-align: center;
}

#p_todo, #p_about, #p_about ul {
	/* text-align: justify; */
}

#underline{
	width: 300px;
	border-bottom: 2px solid #5E9913;
	margin: auto;
} 

.explain {
	text-align: left;
	margin: auto;
	/* display: none; */
	width: 80%;
}


 /****** кнопки ******/

.button {
	/*класс всех кнопок кроме меню*/
	font-size: 24px;
	background-color: #FFDD98;
	margin: auto;
	margin-top: 60px;
	padding-bottom: 10px;
	text-align: center;
	border-radius: 15px;
}

#attention {
	/*кнопка "внимание" */
	
	width: 250px;
	color: #477F3B;
	background-color: white;
	font-size: 44px;
	font-weight: 900px;
	border-radius: 5px;
}

#click{
	/*кнопка "воспроизведите промежуток" */
	padding: 5px ;
	text-align: center;
	width: 260px;
	font-size: 22px;
	background-color: #3F88C5;
	border-top: 3px solid #3F88C5;
	border-left: 9px solid #4C96D3;
	border-right: 3px solid #3F88C5;
	border-bottom: 9px solid #266EA9;
}
 
#click:active  {
	/*нажатая кнопка "воспроизведите промежуток" */
	
	transform: translateY(5px);
	background-color: #5E9913;
	border-top: 3px solid #5E9913;
	border-left: 9px solid #76B12A;
	border-right: 3px solid #5E9913;
	border-bottom: 9px solid #477E01;
} 
 
#ok, #toresult  {
	/*кнопка ошибок при тренировке или невыполненном тесте, кнопка "посмотреть результаты" */
	width: 40%;
	padding: 15px;
	
	/* background-color: #FFDD98;
	border-top: 12px solid #477E01;
	border-left: 12px solid #76B12A;
	border-right: 9px solid #5E9913;
	border-bottom: 12px solid #477E01; */
	
	background-color: #F5DEA0;
	border-top: 12px solid #78640D;
	border-left: 12px solid #95822C;
	border-right: 9px solid #95822C;
	border-bottom: 12px solid #7F6C16;
	
}

#error, #errorTest {
	width: 50%;
	padding: 15px;
	background-color: #F5DEA0;
	border-top: 12px solid #C53F47;
	border-left: 12px solid #DC555E;
	border-right: 9px solid #DC555E;
	border-bottom: 12px solid #A9262F;
}

#totest, #tosimulation{
	width: 50%;
	padding: 15px;
	background-color: #F5DEA0;
	border-top: 12px solid #78640D;
	border-left: 12px solid #95822C;
	border-right: 9px solid #95822C;
	border-bottom: 12px solid #7F6C16;
}

#counter {
	color: #cce1f2;
	font-size: 20px;
}

#no {
	/*сообщение о том, что тест не засчитан*/
	width: 450px;
}
 
 /****** заголовки ******/
h3{
	width: 80%;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 30px;
	font-size: 16px;
}

h4 {
	background-color: #d6b756;
	padding: 5px;
	border-radius: 15px;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	
}



h5{
	font-family: Gloria Hallelujah, Verdana, sans-serif;
	width: 50%;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}

h6{
	background-color: #d6b756;
	padding: 5px;
	border-radius: 15px;
	/* width: 80%; */
	margin: auto;
	
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 1rem;
}


footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #555;
}

 /****** таблица результатов ******/
 
input {
	margin: 2px;
}

.temp {
	background-color: LightGray;
	width: 50px;
}

#temperament {
	width: 150px;
}
/******* шрифты **********/

/*
@font-face 
{
    font-family: 'BuxtonSketch';
    src: url('fonts/buxtonsketch.eot');
    src: url('fonts/buxtonsketch.eot?#iefix') format('embedded-opentype'),
        url('fonts/buxtonsketch.woff') format('woff'),
        url('fonts/buxtonsketch.ttf') format('truetype'),
        url('fonts/buxtonsketch.svg#buxtonsketch') format('svg');
    font-weight: normal;
    font-style: normal;
}
А в папке fonts естественно были файлы buxtonsketch.eot, buxtonsketch.ttf и buxtonsketch.woff.
*/







@font-face { font-family:Dauphinn; src:/fonts/Dauphinn.ttf;}
