body {
	background-color: #f6f0dc;
	
}

#wrapper {
	width: 980px;
	margin: auto;
	/* border: 3px solid green; */
}

header {
	
    height: 100px;
    
    text-align: center;
	
	
}

ul {
	text-align: center;
	padding: 0;
    margin-top: 30px;
}

ul li {
	display: inline-block;
	font-size: 18px;
	background-color: #d6b756;
	padding: 10px ;
	margin: 0 10px;
	border: 1px solid brown;
	border-radius: 5px;
}

.text {
	font-size: 18px;
	padding: 10px;
	width: 90%;
	margin: auto;
	background-color: white;
	border: 1px solid brown;
	border-radius: 5px;
}

.selected {
	background-color: #e4d092;
}

.button {
	width: 150px;
	font-size: 24px;
	background-color: green;
	padding: 20px ;
	margin: auto;
	margin-top: 30px;
	border: 3px solid yellow;
	border-radius: 5px;
	text-align: center;
}

#p_tau {
	text-align: center;
}

input {
	margin: 2px;
}

#signal{
	background-color: yellow;
	width: 100px;
	height: 50px;
	border-radius: 5%;
	text-align: center;
}